#main-button {
    display: inline-block;
    background-color: #EA53AD;
    box-shadow: 5px 5px 0 #000000;
    padding: 18px 20px;
    margin-right: 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

#main-button:hover {
    background-color: #a32bff;
}

.main-button {
    display: inline-block;
    background-color: #EA53AD;
    box-shadow: 5px 5px 0 #000000;
    padding: 18px 20px;
    margin-right: 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.main-button:hover {
    background-color: #a32bff;
}

