.main-box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 42px 44px;
    box-sizing: border-box; 
    margin: -9px;
}

.main-box h1 {
    margin-bottom: 28px;
}

@media only screen and (max-width: 768px) {
    .main-box {
        width: 100%; 
        padding: 20px; 
    }
}
