.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skills-tec {
    width: 430px;
}

.wrapper-skill .skills-tec:nth-child(odd) {
    margin-right: 100px;
    margin-bottom: 40px;
}

.wrapper-skill .progress-bar {
    width: 320px;
}

.skills-tec .title{
    margin-bottom: 10px;
}